body{
    background: linear-gradient(rgb(245, 236, 226),rgb(255, 184, 184));
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 1%;
    background-image: url(textured.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    text-align: center;
    font-size: 55px;
    text-transform: uppercase;
    padding-top: 2%;
    color: antiquewhite;

}

h2{
    font-size: 25px;
    color: antiquewhite;
   
}

h3{
    font-size: 25px;
    padding-left: 1%;
    color: antiquewhite;
}

h6{
    font-size: 35px;
    text-decoration: underline;
    padding-left: 1%;
    text-align: center;
    color: antiquewhite;

}

ul{
    font-size: 20px;
    color: antiquewhite;
}

hr{
    width: 80px;
    text-align: left;
    margin-left:3.5%;
    margin-top:none ;
    margin-bottom: 0%;
    color: antiquewhite;


}

.line2{
    width: 1450px;
    text-align: center;
    margin-left: 1%;
    margin-right: none;
    border-top: 1px solid;
    border-color: rgb(255, 255, 255);
}

.line1{
    width: 1350px; 
    text-align: center;
    border-color: rgb(255, 255, 255);

}


.block1{ /*table*/
    
    padding: 20px;
    width: 400px;
    float: left;
    overflow: hidden;
    color: antiquewhite;
}

.block2{ /*animation*/
    margin: 5px 10px;
    padding: 20px;
    width: 180px;
    margin-left:400px;
    overflow: hidden;
    float: left;
    color: antiquewhite;
}
.wrapper {
    margin: auto;
    width: 200px; /*The width you want it to be when centered*/
    /* min-width works too */
    overflow: hidden;
    color: antiquewhite;
}

